ul {
  list-style: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.input-primary {
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
}

.pa-0 {
  padding: 0;
}
